# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Logs
*.log